
			{#Book#}
			<a href="{{ path('admin_majpanel_grid_book_home') }}">{#Book#}
			    <div class="c-menu-item__title">{#Book#}
			        <span><i class="fa fa-angle-right ">{#Book#}
			            </i> Book </span>{#Book#}
			    </div>{#Book#}
			</a>{#Book#}




