{% extends 'base.html.admin.twig' %}

{% block title %}Hello HomeController!{% endblock %}

 {% block entityName %}
   Book
 {% endblock %}

 {% block entityMenu %}
     {{ parent() }}

     <a href=" {{ path('admin_majpanel_grid_book_home') }}">
         <div class="c-menu-item__title">
        <span><i class="fa fa-angle-right ">
            </i> Book </span>
         </div>
     </a>

 {% endblock %}

{% block body %}

    <main class="l-main">
        <div class="content-wrapper content-wrapper--with-bg">

            <div class="col-lg-12">{{ react_component('RouterAdminBook') }}</div>

        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

